<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>{% block title %}EconoMetric{% endblock %}</title>
</head>
<body>
    <div class="d-flex bg-degrade flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom px-3">

        <a href="/" class="d-flex align-items-center text-decoration-none text-light"><span class="fs-4">EconoMetric</span></a>
        <nav class="d-inline-flex text-light mt-2 mt-md-0 ms-md-auto">
            <a href="/home" class="me-3 text-light py-2 link-body-emphasis text-decoration-none">Inicio</a>
            <a href="/analisis" class="me-3 text-light py-2 link-body-emphasis text-decoration-none">Análisis</a>
            <a href="/perfil" class="me-3 text-light py-2 link-body-emphasis text-decoration-none">Mi Perfil</a>
            <a href="/cerrar_sesion" class="btn btn-sm btn-outline btn-secondary text-light mt-2 ms-5">Cerrar Sesión</a>
        </nav>

    </div>


    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>