<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-degrade">
    <nav class="navbar">
        <a href="" class="navbar-brand text-light ms-5"></a>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="card mt-100">
                    <div class="card-body">
                        <form method="post" action="/agregar_usuario">
                            <label>Nombre Completo</label><br>
                            <input type="text" class="form-control" name="unombre"><br><br>

                            <label>Email</label><br>
                            <input type="email" class="form-control" name="uemail"><br><br>

                            <label>Contraseña</label><br>
                            <input type="password" class="form-control" name="upassword"><br><br>
                            <input type="submit" class="btn btn-primary w-100 btn-lg" value="Registrarse">
                        </form>
                        <p class="mt-2">¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Ingresa aquí</a> </p>
                    </div>
                </div>
            </div>

            <div class="col-md-7 offset-md-1">
                <h1 class="text-light display-4 mt-100" style="font-size:70px">Gestioná tus finanzas, construí tranquilidad</h1>
            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>